.card {
  /*transition-duration: var(--transition-duration);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
  height: 450px;
  display: inline-block;
  width: 100%;
  /* margin: 10px;*/
  text-decoration: none;
  overflow: hidden;

  position: relative;
  transition: transform 0.3s ease;

  box-shadow: var(--shadow);
  background-color: var(--color-site-background);
  border: var(--border-card);
  border-radius: var(--border-radius);
}

.card:hover {
  transform: scale(1.05);
}

.card__title {
  font-family: var(--font-family);
  font-size: var(--font-size-body-large);
  font-weight: var(--font-weight-heading);
  color: var(--color-primary);
  text-align: center;
  margin: 4px 12px;
}

.card__year {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  color: var(--color-primary);
  text-align: center;
  margin: 3px 15px;
}

.card__id {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  color: var(--color-primary);
  text-align: center;
  margin: 0px 15px;
}

.card__poster {
  width: 13em;
  height: auto;
  padding-top: 0.35em;
  display: block;
  margin: auto;
  border-radius: var(--border-radius);
}
