.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  margin: 20px 0px;
}

.search__button {
  display: block;
  min-width: 100px;
  max-width: 120px;
  height: 50px;
  background-color: var(--color-site-background);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
}

.search__button:hover {
  transition-duration: var(--transition-duration);
  box-shadow: var(--shadow);
  background-color: hsl(154, 92%, 12%);
}

.search__input {
  max-width: 500px;
  min-width: 300px;
  height: 50px;
  padding: 0px 10px;
  background-color: var(--color-site-background);
  border: var(--border-search);
  border-radius: var(--border-radius);

  outline: none;
  transition: 0.3s;

  font-family: var(--font-family);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  color: var(--color-primary);
}

.search__input::placeholder {
  color: hsl(0, 0%, 68%);
}
.search__input:focus {
  border: 3px solid hsl(154, 92%, 46%);
}
.results-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-left: 16px;
  /*margin: 25px 20px;*/
}
.pseudo-col {
  margin: 3px;
  max-width: 370px;
  min-width: 370px;
  padding: 10px;
}
